# Homework 5: Applying Functions and Iteration

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to load the provided tests. Each time you start your server, you will need to execute this cell again to load the tests.

This assignment is due by **11:59pm on the due date listed in Canvas**. Late work will not be accepted as per the course policies. 

**Throughout this homework and all future ones, please be sure to not re-assign variables throughout the notebook! For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Moreover, please be sure to only put your written answers in the provided cells.**

In [1]:
# Don't change this cell; just run it. 

import numpy as np
from datascience import *

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)
warnings.simplefilter('ignore', UserWarning)

import otter
grader = otter.Notebook()
'imports completed'

'imports completed'

## 1. 2019 Oregon Football Season

Mario Cristobal is trying to analyze how well the Oregon football team performed in the 2019 season. A football game is divided into four periods, called quarters. The number of points Oregon scored in each quarter, and the number of points their opponent scored in each quarter are stored in a table called `ducks_fb.csv`.

In [2]:
# Just run this cell
# Read in the ducks_fb csv file
games = Table().read_table("ducks_fb.csv")
games.show()

Let's start by finding the total points each team scored in a game.

**Question 1.** Write a function called `sum_scores`.  It should take four arguments, where each argument is the team's score for that quarter. It should return the team's total score for that game.


<!--
BEGIN QUESTION
name: q1_1
manual: false
-->

In [70]:
def sum_scores(Q1, Q2, Q3, Q4):
    '''Returns the total score calculated by adding up the score of each quarter'''
    return Q1+Q2+Q3+Q4

sum_scores(14, 7, 3, 0) #DO NOT CHANGE THIS LINE

24

In [71]:
#TESTS

In [72]:
sum_scores(2, 3, 6, 1) == 12

True

In [73]:
sum_scores(-2,3,5,-10) == -4

True

In [74]:
grader.check("q1_1")

q1_1 results: All test cases passed!

**Question 2.** Create a new table `final_scores` with three columns in this *specific* order: `Opponent`, `Oregon Score`, `Opponent Score`. You will have to create the `Oregon Score` and `Opponent Score` columns. Use the function `sum_scores` you just defined in the previous question for this problem.

*Hint:* If you want to apply a function that takes in multiple arguments, you can pass multiple column names as arguments in `tbl.apply()`. The column values will be passed into the corresponding arguments of the function. Take a look at the python reference for syntax.

*Tip:* If you’re running into issues creating final_scores, check that `oregon_scores` and `opponent_scores` output what you want. 


<!--
BEGIN QUESTION
name: q1_2
manual: false
-->

In [75]:
oregon_scores = games.apply(sum_scores,1,2,3,4)
opponent_scores = games.apply(sum_scores,5,6,7,8)
final_scores = games.select('Opponent').with_columns('Oregon Score', oregon_scores, 'Opponent Score', opponent_scores)
final_scores

Opponent         | Oregon Score | Opponent Score
Auburn           | 21           | 27
Nevada           | 77           | 6
Montana          | 35           | 3
Stanford         | 21           | 6
Cal              | 17           | 7
Colorado         | 45           | 3
Washington       | 35           | 31
Washington State | 37           | 35
USC              | 56           | 24
Arizona          | 34           | 6
... (4 rows omitted)

In [76]:
#tests

In [77]:
final_scores.num_columns == 3

True

In [78]:
set(['Opponent', 'Oregon Score', 'Opponent Score']) == set(final_scores.labels)

True

In [42]:
grader.check("q1_2")

q1_2 results: All test cases passed!

We can get specific row objects from a table. You can use `tbl.row(n)` to get the `n`th row of a table. `row.item("column_name")` will allow you to select the element that corresponds to `column_name` in a particular row. Here's an example:

In [50]:
# Just run this cell
# We won the Civil War!
final_scores.row(11)

Row(Opponent='Oregon State', Oregon Score=24, Opponent Score=10)

In [51]:
# Just run this cell
# blew out USC in the second quarter
games.row(8).item("Oregon 2Q")

28

**Question 3.** We want to see for a particular game whether or not Oregon won. Write a function called `did_oregon_win`.  It should take one argument: a row object from the `final_scores` table. It should return either `True` if Oregon's score was greater than the Opponent's score, and `False` otherwise.


<!--
BEGIN QUESTION
name: q1_3
manual: false
-->

In [61]:
def did_oregon_win(row):
    return row.item('Oregon Score') > row.item('Opponent Score')

In [62]:
'did_oregon_win' in globals()

True

In [63]:
did_oregon_win(final_scores.row(1))

True

In [64]:
grader.check("q1_3")

q1_3 results: All test cases passed!

**Question 4.** Cristobal wants to see how Oregon did against every opponent during the 2019 season. Using the `final_scores` table, assign `results` to an array of `True` and `False` values that correspond to whether or not Oregon won. Add the `results` array to the `final_scores` table, and assign this to `final_scores_with_results`. Then, respectively assign the number of wins and losses Oregon had to `oregon_wins` and `oregon_losses`.

*Hint*: When you only pass a function name and no column labels through `tbl.apply()`, the function gets applied to every row in `tbl`


<!--
BEGIN QUESTION
name: q1_4
manual: false
-->

In [65]:
results = final_scores.apply(did_oregon_win)
final_scores_with_results = final_scores.with_column("Results", results)
oregon_wins = sum(final_scores_with_results.column("Results") == True)
oregon_losses = sum(final_scores_with_results.column("Results") == False)

# Don't delete or edit the following line:
print(f"In the 2019 Season, Ducks Football won {oregon_wins} games and lost {oregon_losses} games. Go Ducks!")

In the 2019 Season, Ducks Football won 12 games and lost 2 games. Go Ducks!

In [66]:
#Tests

In [67]:
0 <= oregon_wins <= 14

True

In [68]:
0 <= oregon_losses <= 14

True

In [69]:
grader.check("q1_4")

q1_4 results: All test cases passed!

**Question 5.** Some football teams are fast starters (score a lot of points in quarters 1 and 2). Cristobal would like to know if his Ducks were fast starters. Let's see if we can help him figure that out.

Create a table named `big_table` by joining `games` with `final_scores_with_results` using the `Opponent` column for the join.


<!--
BEGIN QUESTION
name: q1_5
manual: false
-->

In [81]:
big_table = games.join("Opponent", final_scores_with_results)    
big_table

Opponent      | Oregon 1Q | Oregon 2Q | Oregon 3Q | Oregon 4Q | Opp 1Q | Opp 2Q | Opp 3Q | Opp 4Q | Oregon Score | Opponent Score | Results
Arizona       | 14        | 7         | 7         | 6         | 0      | 6      | 0      | 0      | 34           | 6              | True
Arizona State | 7         | 0         | 0         | 21        | 7      | 3      | 3      | 18     | 28           | 31             | False
Auburn        | 14        | 0         | 7         | 0         | 3      | 3      | 7      | 14     | 21           | 27             | False
Cal           | 0         | 0         | 10        | 7         | 7      | 0      | 0      | 0      | 17           | 7              | True
Colorado      | 7         | 17        | 14        | 7         | 3      | 0      | 0      | 0      | 45           | 3              | True
Montana       | 14        | 7         | 7         | 7         | 0      | 0      | 3      | 0      | 35           | 3              | True
Nevada        | 7         | 28        | 28        | 14        | 3      | 3      | 0      | 0      | 77           | 6              | True
Oregon State  | 10        | 7         | 0         | 7         | 3      | 0      | 0      | 7      | 24           | 10             | True
Stanford      | 7         | 7         | 0         | 7         | 3      | 0      | 0      | 3      | 21           | 6              | True
USC           | 0         | 28        | 14        | 14        | 10     | 7      | 0      | 7      | 56           | 24             | True
... (4 rows omitted)

In [82]:
big_table.num_columns == 12

True

In [83]:
set(['Opponent', 'Oregon 1Q', 'Oregon 2Q', 'Oregon 3Q', 'Oregon 4Q', 'Opp 1Q', 'Opp 2Q', 'Opp 3Q', 'Opp 4Q', 'Oregon Score', 'Opponent Score', 'Results']) == set(big_table.labels)

True

In [84]:
grader.check("q1_5")

q1_5 results: All test cases passed!

**Question 6.** Write a function called `first_half_score`.  It should take two arguments, where each argument is the team's score for quarter 1 and quarter 2. It should return the team's score for the first half of the game.


<!--
BEGIN QUESTION
name: q1_6
manual: false
-->

In [86]:
def first_half_score(q1, q2):
    '''Returns the first half score calculated by adding up the scores for quarter 1 and quarter 2'''
    return q1 + q2

first_half_score(14, 7) #DO NOT CHANGE THIS LINE

21

In [87]:
first_half_score(2, 3) == 5

True

In [88]:
first_half_score(-2,3) == 1

True

In [89]:
grader.check("q1_6")

q1_6 results: All test cases passed!

**Question 7.** Add two columns to `big_table` with the following column headings: `Oregon 1st Half Score` and `Opponent 1st Half Score`. You will have to create the Oregon 1st Half Score and Opponent 1st Half Score columns. Use the function `first_half_score` you just defined in the previous question for this problem.


<!--
BEGIN QUESTION
name: q1_7
manual: false
-->

In [94]:
oregon_1st_half_scores = big_table.apply(first_half_score, 'Oregon 1Q', 'Oregon 2Q')
opponent_1st_half_scores = big_table.apply(first_half_score, 'Opp 1Q', 'Opp 2Q')
big_table = big_table.with_columns('Oregon 1st Half Score', oregon_1st_half_scores, 'Opponent 1st Half Score', opponent_1st_half_scores)
big_table

Opponent      | Oregon 1Q | Oregon 2Q | Oregon 3Q | Oregon 4Q | Opp 1Q | Opp 2Q | Opp 3Q | Opp 4Q | Oregon Score | Opponent Score | Results | Oregon 1st Half Score | Opponent 1st Half Score
Arizona       | 14        | 7         | 7         | 6         | 0      | 6      | 0      | 0      | 34           | 6              | True    | 21                    | 6
Arizona State | 7         | 0         | 0         | 21        | 7      | 3      | 3      | 18     | 28           | 31             | False   | 7                     | 10
Auburn        | 14        | 0         | 7         | 0         | 3      | 3      | 7      | 14     | 21           | 27             | False   | 14                    | 6
Cal           | 0         | 0         | 10        | 7         | 7      | 0      | 0      | 0      | 17           | 7              | True    | 0                     | 7
Colorado      | 7         | 17        | 14        | 7         | 3      | 0      | 0      | 0      | 45           | 3              | True    | 24                    | 3
Montana       | 14        | 7         | 7         | 7         | 0      | 0      | 3      | 0      | 35           | 3              | True    | 21                    | 0
Nevada        | 7         | 28        | 28        | 14        | 3      | 3      | 0      | 0      | 77           | 6              | True    | 35                    | 6
Oregon State  | 10        | 7         | 0         | 7         | 3      | 0      | 0      | 7      | 24           | 10             | True    | 17                    | 3
Stanford      | 7         | 7         | 0         | 7         | 3      | 0      | 0      | 3      | 21           | 6              | True    | 14                    | 3
USC           | 0         | 28        | 14        | 14        | 10     | 7      | 0      | 7      | 56           | 24             | True    | 28                    | 17
... (4 rows omitted)

In [95]:
#TESTS

In [96]:
big_table.num_columns == 14

True

In [97]:
big_table.row(6).item('Oregon 1st Half Score') == 35

True

In [98]:
big_table.row(0).item('Opponent 1st Half Score') == 6

True

In [99]:
grader.check("q1_7")

q1_7 results: All test cases passed!

**Question 8.** Now let's see how many games the Ducks were leading at half time and how many of those games they won, compared against the total number of games played. If a significant proportion of total games had them ahead at half time, and they won most of those games, one could conclude that they were fast starters **and** they play good second half defense.

As with the `Results` column that you added in **1.4** above, you will need to define a function to determine if Oregon was ahead at half time so that you can assign those values to `bigger_first_half_scores`. `games_ahead_at_half_time` should consist of those rows in `big_table` for which Oregon was ahead at half time. `ahead_at_half` is the number of those games; `win_when_ahead` is the number of those games that they won; and `total_games` is the total number of games played.


<!--
BEGIN QUESTION
name: q1_8
manual: false
-->

In [106]:
# create any functions/tables/arrays/... needed to answer the question
def games_ahead_at_half_time(row):
    return row.item('Oregon 1st Half Score')>row.item('Opponent 1st Half Score')

results_at_half = big_table.apply(games_ahead_at_half_time)
games_oregon_ahead_at_half = big_table.with_column('Results at half', results_at_half).where("Results at half", are.equal_to(True))
ahead_at_half = games_oregon_ahead_at_half.num_rows
wins_when_ahead = games_oregon_ahead_at_half.where('Results', are.equal_to(True)).num_rows
total_games = big_table.num_rows

# Don't delete or edit the following line:
print(f"The Ducks won {wins_when_ahead} out of {ahead_at_half} games when ahead at half time out of {total_games} total games.")

The Ducks won 8 out of 9 games when ahead at half time out of 14 total games.

In [107]:
0 <= ahead_at_half <= 14

True

In [108]:
0 <= wins_when_ahead <= 14

True

In [109]:
grader.check("q1_8")

q1_8 results: All test cases passed!

As you can see, if the Ducks were ahead at half time, it was a pretty sure bet that they would win.

All in all, a pretty successful season as Pac-12 champion and winner of the Rose Bowl. Go Ducks!

## 2. 2018-2019 Oregon Women's Basketball

The UO Women's Basketball team had an excellent 2018-2019 season, with a final four appearance. We are going to analyze a number of aspects of the season.

A women's collegiate basketball game is divided into four 10-minute periods, called quarters; if the game is tied at the end of 4 quarters, 5-minute overtime periods are played until we have a winner.

The file `uo_women_basketball_18-19.csv` provides the raw statistics for the team's games during the 2018-19 season, with columns indicating the opponent, the venue (`HOME`, `AWAY`, `NEUTRAL`), the date of the game, the number of points Oregon scored in each quarter, the number of points their opponent scored in each quarter, and columns for any points scored in overtime periods by Oregon and their opponent.

In [110]:
# Just run this cell
# Read in the ducks_fb csv file
bbgames = Table().read_table("uo_women_basketball_18-19.csv")
bbgames.show()

**Question 1.** As you can see, the scores are reported in relative detail, including points scored in each quarter by either Oregon (*e.g.* `OrQ1` for Oregon's first quarter score) or their opponent (`OpQ1`), as well as any points scored in overtime (`OrOT1` and `OpOT1`). But the points scored in a specific quarter are fairly unimportant in the grand scheme of things - we want to know who won! Create two new columns in `bbgames` called `OrTotal` and `OpTotal` that are the sum of all points scored by either Oregon or their Opponent (including overtime) in each game.


<!--
BEGIN QUESTION
name: q2_1
manual: false
-->

In [115]:
# create any functions/tables/arrays/... needed to answer the question
def sum_scores(q1_score, q2_score, q3_score, q4_score, ot_score):
    return q1_score + q2_score + q3_score + q4_score + ot_score
    
orscores = bbgames.apply(sum_scores, 'OrQ1', 'OrQ2', 'OrQ3', 'OrQ4', 'OrOT1')
opscores = bbgames.apply(sum_scores, 'OpQ1', 'OpQ2', 'OpQ3', 'OpQ4', 'OpOT1')
bbgames = bbgames.with_columns('OrTotal', orscores, 'OpTotal', opscores)

In [118]:
bbgames.num_columns == 15

True

In [119]:
set(['Opponent', 'Location', 'Date', 'OrQ1', 'OrQ2', 'OrQ3', 'OrQ4', 'OpQ1', 'OpQ2', 'OpQ3', 'OpQ4', 'OrOT1', 'OpOT1', 'OrTotal', 'OpTotal']) == set(bbgames.labels)

True

In [120]:
grader.check("q2_1")

q2_1 results: All test cases passed!

**Question 2.** As we did with the men's football Table, we need to add a column to `bbgames` named `Result` that indicates if Oregon won the game. Using your new columns in `bbgames`, determine if Oregon won each game and add the `Result` to `bbgames`.

<!--
BEGIN QUESTION
name: q2_2
manual: false
-->

In [122]:
# create any functions/tables/arrays/... needed to answer the question
def did_OR_win(row):
    return row.item('OrTotal')>row.item('OpTotal')
results = bbgames.apply(did_OR_win)
bbgames = bbgames.with_column('Result', results)
bbgames

Opponent           | Location | Date     | OrQ1 | OrQ2 | OrQ3 | OrQ4 | OpQ1 | OpQ2 | OpQ3 | OpQ4 | OrOT1 | OpOT1 | OrTotal | OpTotal | Result
Alaska Fairbanks   | AWAY     | 11/06/18 | 34   | 26   | 29   | 26   | 9    | 13   | 8    | 6    | 0     | 0     | 115     | 36      | True
Syracuse           | HOME     | 11/10/18 | 20   | 14   | 14   | 27   | 10   | 17   | 17   | 29   | 0     | 0     | 75      | 73      | True
Utah State         | AWAY     | 11/14/18 | 30   | 19   | 20   | 19   | 15   | 13   | 15   | 14   | 0     | 0     | 88      | 57      | True
Buffalo            | HOME     | 11/18/18 | 26   | 23   | 31   | 22   | 16   | 23   | 21   | 22   | 0     | 0     | 102     | 82      | True
UC Riverside       | HOME     | 11/23/18 | 23   | 29   | 25   | 17   | 11   | 7    | 13   | 13   | 0     | 0     | 94      | 44      | True
Saint Mary's (CA)  | AWAY     | 11/24/18 | 24   | 12   | 19   | 24   | 12   | 14   | 16   | 13   | 0     | 0     | 79      | 55      | True
Long Beach State   | HOME     | 12/02/18 | 24   | 26   | 32   | 28   | 16   | 4    | 15   | 13   | 0     | 0     | 110     | 48      | True
Michigan State     | AWAY     | 12/09/18 | 25   | 14   | 21   | 22   | 22   | 24   | 23   | 19   | 0     | 0     | 82      | 88      | False
South Dakota State | AWAY     | 12/12/18 | 18   | 22   | 25   | 22   | 21   | 24   | 13   | 21   | 0     | 0     | 87      | 79      | True
Mississippi State  | HOME     | 12/18/18 | 19   | 20   | 18   | 25   | 17   | 23   | 15   | 19   | 0     | 0     | 82      | 74      | True
... (28 rows omitted)

In [123]:
bbgames.num_columns == 16

True

In [124]:
bbgames.row(7).item('Result') == False

True

In [125]:
bbgames.row(2).item('Result') == True

True

In [126]:
grader.check("q2_2")

q2_2 results: All test cases passed!

**Question 3.** What was Oregon's won/loss record during this season? Assign values to `UO_wins` and `UO_losses`.

<!--
BEGIN QUESTION
name: q2_3
manual: false
-->

In [127]:
UO_wins = sum(bbgames.column('Result') == True)
UO_losses = sum(bbgames.column('Result') == False)

# Don't delete or edit the following line:
print(f"The Lady Ducks finished the 2018-19 season with {UO_wins} wins and {UO_losses} losses")

The Lady Ducks finished the 2018-19 season with 33 wins and 5 losses

In [128]:
0 <= UO_wins <= 38

True

In [129]:
0 <= UO_losses <= 38

True

In [130]:
grader.check("q2_3")

q2_3 results: All test cases passed!

**Question 4.** Now let's look at the data to see if there any predictive features. The Lady Ducks are known for outscoring the opposition in the 1st quarter, and again in the 3rd quarter. This suggests the Lady Ducks were effective at pre-game and halftime strategy. 

We would like to know the number of games where they outscored their opposition in quarters 1 and 3, and whether that was a good predictor of winning the game. First, determine the number of games in which Oregon outscored their opponents in Q1 and Q3, and assign this value to `outscored_opponents_q1_and_q3`. 

Then, among these games, determine how many the Lady Ducks won and assign this value to `UO_wins_q1_and_q3`. 

**Do not add any columns to `bbgames` answering this question.**

<!--
BEGIN QUESTION
name: q2_4
manual: false
-->

In [132]:
# any functions/tables/arrays/... that you need to answer the question
def q1_q3(row):
    return row.item('OrQ1')>row.item('OpQ1')and row.item('OrQ3')>row.item('OpQ3')
    
outscored_opponents_q1_and_q3 = sum(bbgames.apply(q1_q3) == True)
UO_wins_q1_and_q3 = sum(bbgames.where('Result', are.equal_to(True)).apply(q1_q3) == True)

# Don't delete or edit the following line:
print(f"The Lady Ducks won {UO_wins_q1_and_q3} out of {outscored_opponents_q1_and_q3} games when outscoring opponents in Q1 and Q3.")

The Lady Ducks won 24 out of 24 games when outscoring opponents in Q1 and Q3.

In [133]:
0 <= outscored_opponents_q1_and_q3 <= 38

True

In [134]:
0 <= UO_wins_q1_and_q3 <= 38

True

In [135]:
grader.check("q2_4")

q2_4 results: All test cases passed!

**Question 5.** Home games usually favor the home team if the two teams are evenly matched. In this question we would like to understand the Lady Ducks record during the year with respect to home and away games. For this exercise, ignore neutral site games. 

Please assign appropriate values to `home_wins`, `home_losses`, `away_wins`, and `away_losses` in the next cell.

<!--
BEGIN QUESTION
name: q2_5
manual: false
-->

In [137]:
home_wins = bbgames.where('Location', are.equal_to('HOME')).where('Result', are.equal_to(True)).num_rows
home_losses = bbgames.where('Location', are.equal_to('HOME')).where('Result', are.equal_to(False)).num_rows
away_wins = bbgames.where('Location', are.equal_to('AWAY')).where('Result', are.equal_to(True)).num_rows
away_losses = bbgames.where('Location', are.equal_to('AWAY')).where('Result', are.equal_to(False)).num_rows

# Don't delete or edit the following line:
print(f"The Lady Ducks home record was {home_wins}/{home_losses}; their away record was {away_wins}/{away_losses}.")

The Lady Ducks home record was 17/1; their away record was 12/2.

In [138]:
0 <= home_wins <= 38

True

In [139]:
0 <= home_losses <= 38

True

In [140]:
0 <= away_wins <= 38

True

In [141]:
0 <= away_losses <= 38

True

In [142]:
grader.check("q2_5")

q2_5 results: All test cases passed!

**Question 6.** Another statistic that is often looked at is the margin of victory/margin of defeat, defined as the number of points won or lost by respectively. The very best teams usually have a healthy average margin of victory, and a small average margin of defeat.

Please assign appropriate values to `ave_margin_of_victory`, and `ave_margin_of_defeat` in the next cell. **These values should be rounded to two decimal places.  Both values should be positive numbers.**

<!--
BEGIN QUESTION
name: q2_6
manual: false
-->

In [149]:
# any functions/tables/arrays/... that you need to answer the question
def margin(row):
    return row.item('OrTotal') - row.item('OpTotal')
win = bbgames.where('Result', are.equal_to(True)).apply(margin)
defeat = bbgames.where('Result', are.equal_to(False)).apply(margin)
ave_margin_of_victory = round(np.average(win), 2)
ave_margin_of_defeat = abs(round(np.average(defeat), 2))

# Don't delete or edit the following line:
print(f"The average margin of victory/defeat through the season was {ave_margin_of_victory}/{ave_margin_of_defeat}.")

The average margin of victory/defeat through the season was 26.15/5.6.

In [150]:
grader.check("q2_6")

q2_6 results: All test cases passed!

The Lady Ducks had a tremendous 2018-2019 season; they won the Pac-12 title outright, but fell to Stanford in the semi-finals of the Pac-12 tournament. They then won 4 straight games in the NCAA tournament, earning a berth at the Final Four. Although they lost to Baylor in the NCAA semi-finals, we can be very proud of their championship quality.

You've reached the end of the required questions for this assignment! Please submit your work by saving your notebook and submitting it to Canvas. 

Continue on to the optional section for some practice with iterations and for loops!

## (Optional) Unrolling Loops

**The rest of this homework is optional. Do it for your own practice, but it will not be incorporated into the final grading!**

"Unrolling" a `for` loop means to manually write out all the code that it executes.  The result is code that does the same thing as the loop, but without the structure of the loop.  For example, for the following loop:

    for num in np.arange(3):
        print("The number is", num)

The unrolled version would look like this:

    print("The number is", 0)
    print("The number is", 1)
    print("The number is", 2)


Unrolling a `for` loop is a great way to understand what the loop is doing during each step. In this exercise, you'll practice unrolling `for` loops.


In each question below, write code that does the same thing as the given code, but with any `for` loops unrolled.  It's a good idea to run both your answer and the original code to verify that they do the same thing.  (Of course, if the code does something random, you'll get a different random outcome than the original code!)

First, run the cell below to load data that will be used in a few questions.  It's a table with 52 rows, one for each type of card in a deck of playing cards.  A playing card has a "suit" ("♠︎", "♣︎", "♥︎", or "♦︎") and a "rank" (2 through 10, J, Q, K, or A).  There are 4 suits and 13 ranks, so there are $4 \times 13 = 52$ different cards.

In [151]:
deck = Table.read_table("deck.csv")
deck

Rank | Suit
2    | ♠︎
2    | ♣︎
2    | ♥︎
2    | ♦︎
3    | ♠︎
3    | ♣︎
3    | ♥︎
3    | ♦︎
4    | ♠︎
4    | ♣︎
... (42 rows omitted)

**Optional Question 1.** Unroll the code below.

*Hint:* `np.random.randint` returns a random integer between 0 (inclusive) and the value that's passed in (exclusive).

<!--
BEGIN QUESTION
name: q2_1
manual: false
-->

In [152]:
# This table will hold the cards in a randomly-drawn hand of
# 5 cards.  We simulate cards being drawn as follows: We draw
# a card at random from the deck, make a copy of it, put the
# copy in our hand, and put the card back in the deck.  That
# means we might draw the same card multiple times, which is
# different from a normal draw in most card games.
hand = Table().with_columns("Rank", make_array(), "Suit", make_array())
for suit in np.arange(5):
    card = deck.row(np.random.randint(deck.num_rows))
    hand = hand.with_row(card)
hand

Rank | Suit
8    | ♠︎
Q    | ♥︎
6    | ♠︎
5    | ♦︎
10   | ♥︎

In [153]:
# Your unrolled code
...

**Optional Question 2.** Unroll the code below.
<!--
BEGIN QUESTION
name: q2_2
manual: false
-->

In [154]:
for joke_iteration in np.arange(4):
    print("Knock, knock.")
    print("Who's there?")
    print("Banana.")
    print("Banana who?")
print("Knock, knock.")
print("Who's there?")
print("Orange.")
print("Orange who?")
print("Orange you glad I didn't say banana?")

Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Orange.
Orange who?
Orange you glad I didn't say banana?

In [ ]:
# Your unrolled code
...

**Optional Question 3.** Unroll the code below.
<!--
BEGIN QUESTION
name: q2_3
manual: false
-->

In [ ]:
# This table will hold the cards in a randomly-drawn hand of
# 4 cards.  The cards are drawn as follows: For each of the
# 4 suits, we draw a random card of that suit and put it into
# our hand.  The cards within a suit are drawn uniformly at
# random, meaning each card of the suit has an equal chance of
# being drawn.
hand_of_4 = Table().with_columns("Rank", make_array(), "Suit", make_array())
for suit in make_array("♠︎", "♣︎", "♥︎", "♦︎"):
    cards_of_suit = deck.where("Suit", are.equal_to(suit))
    card = cards_of_suit.row(np.random.randint(cards_of_suit.num_rows))
    hand_of_4 = hand_of_4.with_row(card)
hand_of_4

In [ ]:
# Your unrolled code
...

You're done with HW 5! Be sure to run the tests and verify that they all pass, then **Save** your changes, then **Download** your file to your host machine (if you are using jupyterhub), then submit your file to the HW5 assignment in **Canvas** by 11:59pm on the due date.